<br><br>
<mat-card class="example-card" >
    <mat-card-header>
        <div mat-card-avatar class="example-header"></div>
        <mat-card-title>Regiser</mat-card-title>
        <mat-card-subtitle>Mandoline</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content >
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="id" type="number" >
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="name"  ></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="from" type="text" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="to" type="text">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="number of buss" type="number" >
    </mat-form-field> <mat-form-field>
        <input matInput placeholder="number of stobs" type="number" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="input" type="text" >
      </mat-form-field>
        
</div>
<div class="example-button-row">
<button mat-flat-button class="subb" type="submit" >Submit</button>
</div>
</mat-card-content>
</mat-card>